<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Battles Birds game! - Signup</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="main">
            <div class="main__logotype">
                <img src="" />
            </div>
            <nav>
                <a href="/" class="nav--active">main</a> | 
                <a href="/news">news</a> |
                <a href="/about">about</a> |
                <a href="/contact">contact</a>
            </nav>
            <div class="content animation-appear">
              <form action="/signup" method="POST">
                <h1>Sign up</h1>
                <div class="line">
                  <label>* Username:</label>
                  <input type="text" name="username" />
                  <% if (error.username) { %>
                    <span class="error">Username is wrong or user is exist</span>
                  <% } %>
                </div>
                <div class="line">
                  <label>* Password:</label>
                  <input type="text" name="password" />
                  <% if (error.password) { %>
                    <span class="error">Password is required</span>
                  <% } %>
                </div>
                <div class="line">
                  <label>* Email:</label>
                  <input type="text" name="email" />
                  <% if (error.email) { %>
                    <span class="error">Email is used or absent</span>
                  <% } %>
                </div>
                <div class="line">
                  <label>Avatar (url to image):</label>
                  <input type="text" name="avatar" />
                </div>
                <div class="line">
                  <label>Origin:</label>
                  <textarea name="origin"></textarea>
                </div>
                <div class="line">
                  <label>*</label>
                  <span>This fields is required for sign up</span>
                </div>
                <div class="line">
                  <label></label>
                  <input type="submit" value="Sign up" />
                  <% if (success) { %>
                    <span class="success">Registration is complete! You can login after 3 sec...</span>
                    <script>
                      window.onload = function () {
                        setTimeout(function() {
                          window.location.href = '/';
                        }, 3000);
                      };
                    </script>
                  <% } %>
                </div>
              </form>
            </div>
        </div>
    </body>
</html>

