body {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 15px;
}

h2 {
  margin:20px 0 10px;
  padding: 20px 0 10px 25px;
  color:#444;
  background-color: #eee;
  border-radius:10px;
}

.modal-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
}

.modal-loading div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -85px;
  font-size: 40px;
  color: #ff0;
  text-align: center;
  animation: fadeing .7s;
  animation-iteration-count:infinite;
}

@keyframes fadeing {
    0% { opacity: 0; }
    50%   { opacity: 1; }
    100%   { opacity: 0; }
}
.header {
  background-color: #504f4f;
  border-top: 3px solid #494949;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 14px 3px #d1d1d1;
  width: 100%;
  margin: auto;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin: 20px 0 0 57px;
}

.user-nav__item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.user-nav--header {
  margin: 25px 25px 0 0;
}

.wrap {
  width: 100%;
  min-height: calc(100% - 77px);
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}


.sidebar {
/*  background: url("../images/sidebar-bg.png") repeat;*/
  width: 220px;
  min-width: 220px;
  padding-top: 45px;
  box-sizing: border-box;
}

.nav {
  width: 100%;
}
.nav__tab {
  padding: 9px 0 0 50px;
  display: block;
  width: 100%;
  height: 39px;
  text-decoration: none;
  text-align: right;
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #968f81;
  box-sizing: border-box;
  cursor: pointer;
}
.nav__tab:nth-child(1) {
  border-top: 1px solid #968f81;
}
.nav__tab:hover {
  -webkit-animation: bgHover  .2s  linear forwards;
  animation: bgHover  .2s linear forwards;
}
.nav__tab--active {
  background: rgba(208, 201, 187, 0.7);
}
.nav__tab--active:hover {
  animation-name: none;
  -webkit-animation-name: none;
  background: rgba(208, 201, 187, 0.7) !important;
  animation-name: none;
}

@keyframes bgHover {
  to {
    background: rgba(249, 247, 242, 0.6);
  }
}
.main {
  padding: 0 30px 10px 40px;
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.main h1, .main h3 {
  float:left;
  width: 100%;
  border-bottom: 1px dotted #888;
}

.profile__item {
  float: left;
  width:70%;
  height: 30px;
  line-height: 30px;
  color: #888;
}

.profile__item label {
  float:left;
  width: 100px;
  text-align: right;
}

.profile__item span {
  float:left;
  color: #000;
  margin-left:10px;
}

.profile__item span.error {
  color: #f00;
}

.profile__item span.passed {
  color: #0f0;
}

.profile__avatar {
  float: right;
  width: 25%;
  min-width: 150px;
}

.profile__avatar img {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 5px;
}

.messages__new {
  margin-top:60px;
  width:100%;
  height: 100px;
  background-color: #eee;
}

.messages__new select {
  float: left;
  margin-left: 10px;
  width: 100px;
  height: 25px;
  border:1px solid #bbb;
  background-color: #fff;
}

.messages__new textarea {
  float: left;
  margin-left: 10px;
  width: 300px;
  height: 50px;
  border:1px solid #bbb;
  background-color: #fff;
}

.messages__new button {
  float:left;
  margin-left: 10px;
  padding: 5px 15px;
}

.messages__feed {
  margin-top:60px;
  width:100%;
  background-color: #eee;
}

.messages__item {
  width:100%;
  padding: 10px;
  border-bottom: 1px dotted #777;
}

.messages__header {
  width:100%;
  height: 40px;
  line-height: 40px;
}

.messages__header--date {
  float: left;
  width:100px;
  height:100%;
  padding: 0 10px;
  font-size: 12px;
  font-style:italic;
  border-right: 1px solid #ccc;
}

.messages__header--name {
  float: left;
  width:160px;
  height:100%;
  padding: 0 20px;
  border-right: 1px solid #ccc;
}

.messages__header--text {
  float: left;
  width:350px;
  height:100%;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  overflow:hidden;
}

.messages__header a {
  margin-left: 40px;
  margin-top:10px;
  text-decoration:none;
}

.minigames__intro {
  width: 100%;
  text-indent: 50px;
  font-size:16px;
}

.minigames__intro::first-letter {
  font-size: 32px;
  font-weight:900;
  color: #800;
}

.minigames__block {
  width:inherit;
  height: 100px;
  border: 1px dotted #444;
}

.minigames__block .img {
  float: left;
  height:90px;
  width:90px;
  margin-top: 5px;
  margin-left: 25px;
}

.minigames__block .img.coin {
  background-image: url("../images/ancient_coin.jpg");
  background-size: cover;
}

.minigames__block .img.oggy {
  background-image: url("../images/oggy_and_cockroaches.jpg");
  background-size: cover;
}

.minigames__block p {
  float: left;
  margin-top: 5px;
  margin-left: 90px;
  height:90px;
  width:350px;
  color: #888;
}

.minigames__block a {
  float: right;
  margin-right: 25px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  color: steelblue;
}

.minigames__block a:hover {
  font-weight: 900;
}

.minigames__ls {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: #eee;
}

.minigames__ls--title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 20px auto;
  font-size: 24px;
  color: #009;
  text-align: center;
}

.minigames__ls--line {
  width: 100%;
  height: 100px;
  margin: 25px auto;
  text-align: center;
}

.minigames__ls--stone {
  display: inline-block;
  width:100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius:10px;
  background-image: url("../images/stone_back.jpg");
  cursor: pointer;
}

.minigames__ls--stone:hover {
  outline: 5px solid #fc0;
}

.minigames__ls--stone.selected {
  border:3px solid #00e;
}

.minigames__ls--stone.nowin {
  background-image: url("../images/stone_back_nowin.jpg");
}

.minigames__ls--stone.win {
  background-image: url("../images/stone_back_win.jpg");
}

.minigames__ls--button {
  text-decoration: none;
  color: steelblue;
  font-size: 18px;
  padding: 5px 20px;
}

.minigames__cr {
  position: relative;
  width: 800px;
  height:400px;
  margin-top:70px;
  background-color:#eee;
  border-radius:10px;
}

.minigames__cr--title {
  position: absolute;
  width:100%;
  height:30px;
  line-height: 30px;
  text-align: center;
  left:0;
  top:20px;
  font-size: 24px;
  color: #009;
}

.minigames__cr--content {
  position: absolute;
  left:30px;
  top: 60px;
  height:300px;
  width: 750px;
  border: 1px dashed #004;
}

.minigames__cr--line {
  position:relative;
  width: 100%;
  height: 33%;
  background-image: url('../images/line_bg.png');
  background-repeat: repeat-x;
  background-position-y: center;
}

.minigames__cr--line + .minigames__cr--line {
  border-top: 1px solid #444;
}

.minigames__cr--line input {
  position: absolute;
  top: 40px;
  left: -30px;
  width: 15px;
  height: 15px;
}

.minigames__cr--buttons {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 10px;
  line-height: 20px;
  text-align: center;
}

.minigames__cr--button {
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid #444;
}

.minigames__cr--bug {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 144px;
  background-image: url(../images/spiderx.gif);
}

.minigames__cr--number {
  position: absolute;
  width: 20px;
  height: 28px;
  left: -24px;
  top: 0;
  color: #f00;
  font-size: 28px;
  font-weight: 900;
}

.minigames__cr--result {
  position: absolute;
  width: 100%;
  height: 360px;
  background-color: rgba(255,255,255,0.7);
}
.minigames__cr--result div {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align:center;
  font-size: 56px;
}
.minigames__cr--result div.winner {
  color: #080;
}

.minigames__cr--result div.looser {
  color: #800;
}

minigames__cr--message {
  color: #f00;
}

.equipment__body {
  position: relative;
  float: left;
  width: 800px;
  height: 300px;
  padding: 20px 0;
  border: 1px solid grey;
}

.equipment__body .equipment__body--stat {
  float: left;
  width:350px;
  height: 270px;
  margin-left: 30px;
  border: 1px solid grey;
}

.equipment__body .equipment__body--stat .equipment__body--attack {
  width: 150px;
  height: 30px;
  margin-left: 30px;
  margin-top: 100px;
}

.equipment__body .equipment__body--stat .equipment__body--shield {
  width: 150px;
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.equipment__body .equipment__body--model {
  position:relative;
  float: right;
  width:350px;
  height: 270px;
  margin-right: 30px;
  border: 1px solid grey;
}

.equipment__body .equipment__body--model .equipment__body--guns {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 135px;
  top: 25px;
  border-radius: 50%;
  border: 1px solid grey;
}

.equipment__body .equipment__body--model .equipment__body--shield {
  position: absolute;
  width: 120px;
  height:150px;
  left: 115px;
  top: 105px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid grey;
}

.equipment__pocket, 
.equipment__market {
  float: left;
  width: 800px;
  height: 250px;
  padding: 20px 0;
  border: 1px solid grey;
}

.equipment__pocket .equipment__pocket--line,
.equipment__market .equipment__market--line {
  float: left;
  width: 780px;
  height: 250px;
  margin-left:10px;
  margin-top:10px;
  overflow-x: auto;
  white-space: nowrap;
}

.equipment__pocket .equipment__pocket--line .equipment__pocket--good,
.equipment__market .equipment__market--line .equipment__market--good {
  display: inline-block;
  width: 210px;
  height:210px;
  padding:5px;
  border:1px dotted #888;
}

.good__item--title {
  float: left;
  width: 100%;
  height: 24px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

.good__item--image {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.good__item--description {
  float: left;
  width: 100%;
  height: 65px;
  text-indent: 5px;
  line-height: 15px;
  color: #008;
  word-wrap: break-word;
  white-space: pre-line;
}

.good__item--action {
  float: left;
  width: 100%;
  height: 26px;
  text-align: center;
}

.good__item--action a {
  padding: 2px 10px;
  background-color: #008;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.good__item--action a:hover {
  background-color: #00c;
}