<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Battles Birds game!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="main">
            <div class="content animation-appear wrong-zone">
                <h1>You are banned. You was a bad boy (girl).</h1>
                <p> You banned to: 
                  <%= 
                  ( time.getHours() + 
                    ':' + time.getMinutes() + 
                    ' ' + time.getDate() + 
                    '-' + (1 + time.getMonth()) + 
                    '-' + time.getFullYear() )
                  %></p>
                <p>I hope you will change your behavior in future.</p>
                <p>And now, let see this amazing kitten!</p>
                <img src="images/kitten.jpg" style="margin:50px auto;width:100%" />
            </div>
        </div>
    </body>
</html>