<html>
    <head>
        <title>Stats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Visitor statistic</h1>
        <ul>
            <li>Visitors: <%= visitors %></li>
            <li>Shows: <%= shows %></li>
        </ul>
        <hr />
        <ul>
        <% ua.forEach(function(ua) { %>
            <ol><%= ua %></ol>
        <% }); %>
        </ul>
    </body>
</html>
